*{
  margin:0;
  padding: 0;
}

body{
  font-family:monospace;
}


.background-wrap {
  position:scroll;
  background-size: cover;
  z-index: -1000;
  width: 100%;
  height: 800px;
  overflow: hidden;
  top: 0;
  left: 0;
}
@media only screen and (min-width: 1750px;) {
  .background-wrap {
    position:scroll;
    background-size: cover;
    z-index: -1000;
    width: 100%;
    height: 750px;
    overflow: hidden;
    top: 0;
    left: 0;
  }
}

@media only screen and (min-width: 800px;) {
  .background-wrap {
    position:scroll;
    background-size: cover;
    z-index: -1000;
    width: 100%;
    height: 750px;
    overflow: hidden;
    top: 0;
    left: 0;
  }
}

@media only screen and (max-width: 500px) {
  .background-wrap {
    position:scroll;
    background-size: cover;
    z-index: -1000;
    width: 100%;
    height: 450px;
    overflow: hidden;
    top: 0;
    left: 0;
  }
}




#video-bg-elem {
  position:;
  background-size: cover;
  top: 0;
  left: 0;
  min-height:100%;
  min-width: 100%;
  width: 100%;
  height: auto;
  z-index: 1000;
}

@media only screen and (max-width: 500px) {
  #video-bg-elem {
    position:relative;
    background-size: cover;
    top: 0;
    left: 0;
    min-height:50%;
    min-width: 50%;
    width: 100%;
    height: auto;
    z-index: 1000;
  }
}



.content{
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: 1000;
  background-color: rgb(0, 0, 0, 0);
}

.content h1 {
  text-align: center;
  font-size: 65px;
  text-transform: capitalize;
  font-weight: 400;
  padding-top: 15%;
  margin-bottom: 10px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.content p {
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
  color: #aaa;
}
